<% provide(:title, 'Edit Story') %>
<div class="form-wrapper">
  <%= render "stories/form", story: @story %>
</div>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert" %></p>

  <%= link_to 'Back', :back, class: "button secondary" %>
