
<%= button_to "New Story", new_story_path, method: :get %>
<div style="width:222px">
  <% @stories.each do |story| %>
    <div style="float:right">
      <div><%= link_to story.title, story_path(story) %></div>
      <div>SCORE</div>
    </div>
    <div style="float:left">
      <%= render template: "votes/show", locals: { story: story} %>
    </div>
  <% end %>
</div>
