<% provide(:title, 'StoryBoardy: Make a story, We\'ll tell it') %>
<div class="row">
  <div class="show-for-small-only text-center">
    <%= button_to "New Story", new_story_path, method: :get, class: "fancy radius button mybutton" %>
  </div>
</div>
<div class="stories">
  <%= render @stories %>
</div>
