#wrapper {
  max-width: 980px;
  width: 85%;
  height: auto;
  margin: auto;
  margin-bottom: 0px;


}
#body_style{
  margin-top: -20px;
  background-color: #f6f6ef;

}

.inline-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar-links-right {
  display: inline-block;
  margin-top: 4px;
  float: right;
}


.inline-list > li {
  display: inline-block;
}

#slacker_news {
font-weight: bold;

}

p {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
}

.arrow {
  margin-bottom: 2px;
}
.body_text {
  font-size: 12pt;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
}
.body_link {
  color: #000000;

}

.body_link:link {
  color: #000000;
  text-decoration: none;
}

.body_link:visited {
  color: #828282;
  text-decoration: none;
}

.body_lower_data {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
  margin-left: 35px;
}

.body_lower_data:link {
  color: #828282;
  text-decoration: none;
  margin:auto;

}

.body_lower_data:visited {
  color: #828282;
  text-decoration: none;
  margin:auto;
}

.body_div {
  margin-top: 5px;


}
.body_description {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
  color: #414141;
  margin-left: 35px;

}
.comment_header {
  color: #828282;
  font-size: 8pt;
}

.comment_body {
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
  list-style-type: none;
}

.fancy.button {
  background-color: #fff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #f7f7f7), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  border: 1px solid rgba(52, 73, 94, 0.2);
  color: rgba(52, 152, 219, 0.7);
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.fancy.button:hover {
  color: #3498db;
  background-color: #fff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #efefef), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  border-color: rgba(52, 73, 94, 0.3);
  -webkit-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
  -moz-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
  box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
}
.fancy.button:active {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
}

.notice, .alert-box{
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.submission_text {
  display: none;

}
.notice{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

@media #{$small-only} {
  .mybutton {
    width:100%;
  }
  .button-container {
    text-align: center;
  }
}

#panel,#flip
{
padding:5px;
text-align:center;
background-color:#f2f2f2;
border:solid 1px #c3c3c3;
}
#panel
{
padding:50px;
display:none;
}
